@import "macchiato.css";

* {
  font-family: "Fira Code Regular";
  font-size: 30px;
  color: #696969
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
border: 5px solid #696969;
background: rgba( 255, 255, 255, 0.5);
border-radius: 0% 0% 20px 20px;
}




#window {

}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #696969;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
}

#custom-icon {
padding-left: 10px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: black;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: #696969;
}
